<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div class="cart_page">

	<h4>Items currently in your cart</h4>

	<%= render(@cart.line_items) %>

	
<div class="cart_totals">
	<div class="totals">
		<h4>Cart Totals</h4>
		<table>
			<tr>
			  <td>Taxes:</td>
			  <td class="table_right"><%= number_to_currency((@cart.total_price)* 0.08) %></td>		
			  </tr>
			<tr class="table_bottom">
			  <td>Shipping:</td>
			  <td class="table_right"><%= number_to_currency((@cart.total_price)* 0.10) %></td>		
			</tr>
			<tr>
			  <td>Total:</td>
			  <td class="table_right"><%= number_to_currency(@cart.total_price) %></td>		
			  </tr>			
		</table>
	</div>
	<div class="checkout">
		<%= link_to 'Checkout', @cart, method: :delete, :class => "button_to_checkout", data: { confirm: 'Are you sure?' }%>
	</div>
</div>

<br><br>

<%= link_to 'Empty cart', @cart, method: :delete, :class => "button_to_empty", data: { confirm: 'Are you sure?' }%>

</div>