<script src="/assets/jquery.js" type="text/javascript"></script>
<script src="/assets/jquery.imageLens.js" type="text/javascript"></script>

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div class="details">

	<div class="details_image">
		
		<script>$(".details_image").imageLens({ imageSrc: "/assets/<%= @product.image %>"});</script>
	 	<%= image_tag(@product.image) %>

	 </div>

	 <div class="details_text">

		  <h3><%= @product.title %></h3>

		  <p><%= sanitize(@product.description) %> <br>
		  <p>Item #: <%= rand(2233...9897) %></p></p>

		  <p class="details_price">Price: <%= number_to_currency(@product.price) %></p>



		<div class="button">
		<%= button_to 'Add to Cart', line_items_path(product_id: @product), :class => "button_to_cart" %>
		</div>
		
	</div>

</div>


<h3>Haven't found what you've been hunting for? Check out these other items: </h3>

<div class="store">
    
      <% @random.each do |random_product| %>
    <section>
	  
	        <div class="image">
	           <%= link_to image_tag(random_product.image), product_url(random_product.id) %>
	        </div>
	            
	        <div class="name_price">
	            <b><%= link_to random_product.title, product_url(random_product.id) %></b> <span class=price><%= number_to_currency(random_product.price) %></span>
	        </div>    
	      
     </section>
      <% end %>

    <footer>
	<p>RANDOM HUNT CO. © 2014</p>
	</footer> 
</div>