<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>



  <%= @product.title %>

  <%= sanitize(@product.description) %>

  <%= image_tag(@product.image) %>



  <%= number_to_currency(@product.price) %>


<%= button_to 'Add to Cart', line_items_path(product_id: @product) %>


<%= link_to 'Back to Homepage', products_url %><br/>
