<!DOCTYPE html>
<html>
<head>
  <title>Random Hunt</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
<!-- START_HIGHLIGHT -->
  <title>Random Hunt</title>
<!-- END_HIGHLIGHT -->
  <!-- <label id="code.slt"/> --><%= stylesheet_link_tag    "application", media: "all",
    "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %><!-- <label id="code.jlt"/> -->
  <%= csrf_meta_tags %><!-- <label id="code.csrf"/> -->
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,300italic' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
</head>
<!-- END:head -->

<body>
    <div class="wrap">
       <h2><%= link_to "RANDOM HUNT CO.", products_url %></h2>
      
      <nav>
              <a href="#">WEAR</a>
              <a href="#">EAT</a>
              <a href="#">PLAY</a> 
              <a href="#">HANG</a>
              <% @cart = Cart.all  %>
              <a href="#">CART<div class="cart_count"><%= @cart.count %></div></a>
      </nav>


    


          <%= yield %>
    
 <!--    <footer>
      <p>RANDOM HUNT CO. © 2014</p>
    </footer> -->
    </div>



</body>
</html>
