<!DOCTYPE html>
<html>
<head>
  <title>Random Hunt</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
<!-- START_HIGHLIGHT -->
  <title>Random Hunt</title>
<!-- END_HIGHLIGHT -->
  <!-- <label id="code.slt"/> --><%= stylesheet_link_tag    "application", media: "all",
    "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %><!-- <label id="code.jlt"/> -->
  <%= csrf_meta_tags %><!-- <label id="code.csrf"/> -->
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,300italic' rel='stylesheet' type='text/css'>
</head>
<!-- END:head -->
<body>
<!-- START_HIGHLIGHT -->
  <header>
    
    <ul>
        <li class="site_name"><h2><%= link_to "RANDOM HUNT CO.", 'root_url' %></h2></li>
        <li><%= link_to "WEAR", '#' %></li>
        <li><%= link_to "EAT", '#' %></li>
        <li><%= link_to "PLAY", '#' %></li>
        <li><%= link_to "HANG", '#' %></li>
      </ul>
  </header>  


      <%= yield %>

</body>
</html>
